<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.html</welcome-file>
  </welcome-file-list>


<!--    <servlet>-->
<!--      <servlet-name>EmployeeServlet</servlet-name>-->
<!--      <servlet-class>com.wavemaker.LeaveManagement.Controller.EmployeeServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--      <servlet-name>EmployeeServlet</servlet-name>-->
<!--      <url-pattern>/employees</url-pattern>-->
<!--    </servlet-mapping>-->

<!--  <filter>-->
<!--    <filter-name>AuthenticationFilter</filter-name>-->
<!--    <filter-class>com.wavemaker.LeaveManagment.Filter.AuthenticationFilter</filter-class>-->
<!--  </filter>-->
<!--  <filter-mapping>-->
<!--    <filter-name>AuthenticationFilter</filter-name>-->
<!--    <url-pattern>/employee/*</url-pattern>-->
<!--  </filter-mapping>-->

<!--  <servlet>-->
<!--    <servlet-name>EmployeeServlet</servlet-name>-->
<!--    <servlet-class>controller.com.wavemaker.EmployeeServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>EmployeeServlet</servlet-name>-->
<!--    <url-pattern>/employee</url-pattern>-->
<!--  </servlet-mapping>-->



</web-app>
