        body {
            font-family: Arial, sans-serif;
        }
        .navbar-nav .nav-item .nav-link.active {
            background-color: #007bff;
            color: white;
        }
        .dashboard-summary, .leave-requests, .my-team-leaves {
            margin-top: 20px;
        }
        .leave-summary div, .team-summary div {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }
        .modal-header {
            background-color: #007bff;
            color: white;
        }
        .shadow {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    padding: 20px;
                    margin-bottom: 20px;
                }
                .summary-card {
                    text-align: center;
                }
                .tag {
                    font-weight: bold;
                }
        h5{
        text-color:green;

        }
